<!DOCTYPE html>
<html>

   <body>
     <div class="col-lg-12 coloumnPanel" id="coloumnPanel6">  
       <div ng-controller="BookingDone">
            <div class="panel panel-primary">
               <div class="panel-heading">
                  Booking Status
               </div>
               <div class="panel-body">
             <h2 class="text-success">Congratulations!!</h1>
           <h4>Your booking has been done below are your details.</h4>
          {{bookingStatus}}
                   <br><br><br>
                 <!--  <a>
                        <button type="submit" class="btn btn-primary" ng-click="cancelBooking()">Cancel Booking</button>
                    </a>-->
       </div>
           </div>
         </div>
       </div>  
    </body>
</html>